body{
    background-color:rgb(255, 220, 220);
    background-image:url(Screenshot_14.png);
    background-repeat:no-repeat;
    background-position:80px;
}
.div1{
    width:321px;
    height:290px;
    background-color:white;
    border-radius:8px;
    margin-left:580px;
    margin-top:100px;
    padding-bottom:20px;

}
input{
    border-width:2px;
    border-style:solid;
    border-radius:5px;
    border-color:rgb(231, 209, 209);
    width:290px;
    height:40px;
    margin-left:10px;
}
.login{
    background-color:blue;
    color:white;
    padding-right:263px;
    padding-top:30px;
    text-align:center;
    border-radius:10px;
}
#b1{
    margin-bottom:30px;
}
#p3{
    text-align:center;
}
.ff{
    background-color:darkorange;
    border-width:2px;
    border-style:solid;
    border-radius:5px;
    font-size:20px;
    margin-bottom:9px;
    text-align:center;
    color:white;
}
#div2{
    width:302px;
    height:44px;
    background-color:rgb(98, 98, 219);
    margin-left:9px;
    border-radius:5px;
}
h1{
    text-align:center;
    color:rgb(255, 251, 251);
    margin-top:5px;
    font-size:20px;
    padding-top:10px;
}
#p11{
    text-align:center;
    font-size:12px;
}
.heading2{
    color:blue;
    text-align:center;
    font-size:30px;
}
.div3{
    width:123px;
    height:35px;
    margin-left:670px;
    margin-top:40px;
}